@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
:root {
  --Violet: hsl(257, 40%, 49%);
  --softMagenta: hsl(300, 69%, 71%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background: var(--Violet) url(images/bg-desktop.svg) no-repeat center;
  background-size: cover;
  margin: 60px 93px 0 76px;
  height: 92.5vh;
}
.container {
  display: flex;
  flex-direction: column;
}
.heading img {
  max-width: 200px;
}
main {
  display: flex;
  margin: 60px 0 0 0;
}
.illustration {
  width: 60%;
}
.block {
  width: 40%;
}
.illustration {
  margin-right: 56px;
}
.block {
  margin-top: 35px;
}
.illustration img {
  max-width: 696px;
  max-height: 493px;
}
.text-content {
  color: white;
}
.text-content h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5em;
}
.text-content h6 {
  font-weight: 400;
  font-size: 1.05em;
  margin: 32px 0 23px;
}

.button {
  display: flex;
}
button {
  padding: 14px 66.5px;
  color: var(--Violet);
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  border-radius: 80px;
  border: none;
}
button:focus {
  outline: none;
}
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 106%;
}
ul {
  margin-left: 5px;
}
li {
  display: inline-block;
  list-style: none;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.1em;
  margin: 55px 8px 0 0;
}
i {
  color: white;
  padding: 10px;
  min-width: 45px;
  min-height: 45px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
